<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	
	<meta th:include="this :: head" th:remove="tag" />
</head>
<body>
	<header th:fragment="site-header">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Spring JPA</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#">Faculty</a></li>
					<li><a href="#">Staff</a></li>
				</ul>
				<p class="navbar-text navbar-right">Muhammad Saiful Islam - 141524020</p>
			</div>
		</nav>
	</header>
</body>
</html>